@page "/drop-down-filter"

@using EmployeeManagement.Client.Services
@using EmployeeManagement.Client.Utilities
@using Syncfusion.Blazor.DropDowns

<PageTitle>Data Grid Filtering!</PageTitle>

<div style="width:700px">
    <SfGrid @ref="employeeGrid" DataSource="@Employees" AllowFiltering="true" AllowPaging="true">
        <GridColumns>
            <GridColumn Field=@nameof(Employee.EmployeeId) HeaderText="ID"></GridColumn>
            <GridColumn Field=@nameof(Employee.FirstName) HeaderText="First Name"></GridColumn>
            <GridColumn Field=@nameof(Employee.LastName) HeaderText=" Last Name"></GridColumn>
            <GridColumn Field=@nameof(Employee.DateOfBrith) HeaderText="Date of Birth"></GridColumn>
            <GridColumn Field=@nameof(Employee.Gender) HeaderText="Gender">
                <FilterTemplate>
                    <SfDropDownList Placeholde="All" DataSource="@GenderDropdownSource" TItem="DropDownListItem" TValue="string">
                        <DropDownListFieldSettings Value="Value" Text="Text"></DropDownListFieldSettings>
                        <DropDownListEvents TItem="DropDownListItem" TValue="string" ValueChange="@GenderSelectionChanged"></DropDownListEvents>
                    </SfDropDownList>
                </FilterTemplate>
            </GridColumn>
            <GridColumn AllowFiltering="false" Field=@nameof(Employee.Email) HeaderText="Email"></GridColumn>
        </GridColumns>
    </SfGrid>
</div>


@code{
    public SfGrid<Employee> employeeGrid { get; set; }
    
    [Inject] IEmployeeService EmployeeService { get; set; }
    private List<Employee> Employees { get; set; }

    private List<DropDownListItem> GenderDropdownSource = EnumHelper.ConvertEnumToDropDownSource<Gender>("All", "All");

    protected override async Task OnInitializedAsync()
    {
        Employees = (await EmployeeService.GetEmployees()).ToList();
    }


    private async Task GenderSelectionChanged(ChangeEventArgs<string, DropDownListItem> args)
    {
        if (args.Value=="All")
        {
           await employeeGrid.ClearFilteringAsync("Gender");
        }
        else
        {
            await employeeGrid.FilterByColumnAsync("Gender", "equal", args.Value);
        }
        
    }

}