@inject NavigationManager navigationManager;

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">EmployeeManagement</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-list" aria-hidden="true"></span> Employees
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/editemployee" Match="NavLinkMatch.All" @onclick="CreateClick">
                <span class="oi oi-plus" aria-hidden="true"></span> Create
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/editemployee/1" Match="NavLinkMatch.All">
                <span class="oi oi-file" aria-hidden="true"></span> Edit
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="fetchdata">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Fetch data
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="grid">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Grid
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="server-paging">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Grid Server Paging
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="custom-data-sorting">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Custom Data Sorting
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="grouping-data">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Grouping Data
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="filtering-data">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Filtering Data
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="drop-down-filter">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Dropdown Filter
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="data-grid-filter">
                <span class="oi oi-list-rich" aria-hidden="true"></span> DataGrid Filter
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="search">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Search Page
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    private void CreateClick()
    {
        navigationManager.NavigateTo("editemployee", true);
    }

}